<div>
  <h1>Easily keep track of your knitting project</h1>
</div>

<div>
  <header>
    <h2>Counter</h2>
    <p>Click the button every time you have finished a section of the project.</p>
  </header>

  <ng-container *ngIf="(listOfCounters$ | async) as listOfCounters">
    <div class="grid-container">
      <div class="grid-item" id="counterList">
        <ul *ngFor="let counter of listOfCounters">
          <li>
            <a (click)="getCounterById(counter)" type="button">{{ counter.counterName }}: {{ counter.counterNumber }} / {{ counter.counterTotal }}</a>
          </li>
        </ul>
      </div>
    
      <div class="grid-item">
        <table>
          <tr>
            <td>Row</td>
            <td>Stitch</td>
          </tr>
        </table>
        <button class="btn btn-success">this place is where the button goes.</button>
      </div>

      <div class="grid-item">
        <ng-container *ngIf="(currentCounter$ | async) as current">
          <div>
            <h3>{{ current.counterName }}</h3>
            <p>{{ current.counterNumber }} of {{ current.counterTotal }}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

</div>
