.grid-container {
    display: grid;
    grid-template-columns: max-content 33% auto;
}
.grid-item {
    padding: 10px;
    margin: 10px;
}

#counterList {
    background-color: rgba(220, 220, 220, 0.600);
}
ul {
    list-style-type: none;
}
#add {
    text-align: center;
}

.grid-item.mid {
    text-align: center;
}

#rowStitch {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.btn-group.btn-group-toggle {
    border: solid 3px #e0e4e4;
}

.btn-big-circle {
    box-shadow: 0 8px #9c6f6f;
    border: none;
    background-color: #ed2424;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.btn-big-circle:hover {
    background-color: #d43838;
}
.btn-big-circle:active {
    background-color: #ae1a1a;
    box-shadow: 0 4px #5e3d3d;
    transform: translateY(4px);
}

.counterTitle {
    margin-bottom: 25px;
}
.counterNumbers p {
    font-size: 4em;
    font-weight: bold;
}