<div>
  <h1>Easily keep track of your knitting project</h1>
</div>

<div>
  <div>
    <h2>Counter</h2>
    <p>Click the button every time you have finished a section of the project.</p>
    <div>
      <table>
        <tr>
          <td>Row</td>
          <td>Stitch</td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div>
    <button>this place is where the button goes.</button>
    <p><span>The amount of times the button has been pressed.</span>  of  <span>This needs to be changed into a input field for the desired amount of rows.</span></p>
  </div>

  <div>
    <h1>{{ title }}</h1>
    <ng-container *ngIf="(listOfCounters$ | async) as listOfCounters">
      <table>
        <thead>
          <tr>
            <th>don't know just testing</th>
          </tr>
        </thead>
        <tbody *ngFor="let knittingCounter of listOfCounters">
          <tr>
            <td>{{ knittingCounter.counterId }}</td>
            <td>{{ knittingCounter.counterName }}</td>
            <td>{{ knittingCounter.counterNumber }}</td>
            <td>{{ knittingCounter.counterTotal }}</td>
          </tr>
        </tbody>
      </table>
  </ng-container>
  </div>

</div>