<div>
  <h1>Easily keep track of your knitting project</h1>
</div>

<div>
  <header>
    <h2>Counter</h2>
    <p>Click the button every time you have finished a section of the project.</p>
  </header>

  <ng-container *ngIf="(listOfCounters$ | async) as listOfCounters">
    <div class="grid-container">
      <div class="grid-item" id="counterList">
        <ul *ngFor="let counter of listOfCounters">
          <li>
            <a (click)="getCounterById(counter)" type="button">{{ counter.counterName }}: {{ counter.counterNumber }} / {{ counter.counterTotal }}</a>
          </li>
        </ul>
        <div>
          <button href="#addCounterModal" class="btn btn-success" data-toggle="modal" data>Add</button>
        </div>
      </div>
    
      <ng-container *ngIf="(currentCounter$ | async) as current">
        <div class="grid-item">
          <table>
            <tr>
              <td>Row</td>
              <td>Stitch</td>
            </tr>
          </table>
          <a (click)="countOne(current)" type="button" class="btn btn-danger">test button to increase</a>
        </div>

        <div class="grid-item">
          <div>
            <h3>{{ current.counterName }}</h3>
            <p>{{ current.counterNumber }} of {{ current.counterTotal }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

</div>




<!-- Modal -->
<div id="addCounterModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #form="ngForm" (ngSubmit)="addCounter(form)">
        <div class="modal-body">
          <div>
            <label>name</label>
            <input type="text" ngModel name="counterName">
          </div>
          <div>
            <label>Number</label>
            <input type="number" ngModel name="counterNumber">
          </div>
          <div>
            <label>Total</label>
            <input type="number" ngModel name="counterTotal">
          </div>
        </div>
        <div>
           <button type="submit">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>